.foto{
    width: 30px;
    height: 30px;
}


.pinterest{
    display: flex;
    align-items: center;
}

.qwert{
    color: rgba(255, 19, 19, 0.737);
}
.watch{
    margin-left: 30px;
    font-weight: 1000;
}
.said{
    display: flex;
    align-items: center;
    
}

